.makeSmaller {
  margin: 10px;
  position: relative;
}

.shrink {
  margin-top: 250px;
  height: 8em;
  width: 9em;
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  flex: auto;
  position: absolute;
  -webkit-animation: rotation 10s infinite linear;
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(359deg);
  }
}

.font {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  height: 100%;
  width: 100%;
}

.center {
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.inline {
  display: inline-block;
  margin: 0 0.5em -0.5em 0;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
}

.hover.unstriped.width {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  width: 100%;
}

.width {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  width: 100%;
}

.map {
  width: 100vw;
  min-height: 50vh;
}

.sameSize {
  width: 100vw;
  min-height: 50vh;
}

.smallFont {
  font-size: 0.5px;
}
