.top-bar, .top-bar ul{
  background-color: #4B9CD3;
  max-height: 40px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  position: relative;
}

.top-bar {
  .menu-text {
    color: $nav-text-color;
    margin-left: 1px

  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }

  .active-link {
    font-weight: bold;
  }
}
.shrinkS{
  height: 2em;
  width: 2.5em;
  position: relative;
  align-self: center;
}

.shift-left{
  margin-right: 3px;
  margin-left: -2px;
}

.customW{
  text-decoration-color: white;
  color: white;
}
