.top-bar, .top-bar ul{
  background-color: #4B9CD3;
  max-height: 40px;
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  position: relative;
}

.top-bar {
  .menu-text {
    color: $nav-text-color;
    margin-left: 1px

  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }

  .active-link {
    font-weight: bold;
  }
}
.shrinkS{
  padding: 0px 0px 0px 0px;
  margin-top: 9.5px;
  margin-right: -8px;
  border: 0px 0px 0px 0px;
  display: inline;
  height: 2.5%;
  width: 2.5%;
  position: relative;
}

.shift-left{
  margin-right: 3px;
  margin-left: -2px;
}
